.doc {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.doc details summary {
  padding: 8px;
  background: #f4f4f4;
  color: #03A9F4;
}

.toc {
  display: none;
}

.title {
  border-bottom: 2px solid #eee;
}

.author {
  margin-right: 4px;
  font-weight: 700;
}

.create-date {
  margin-left: 4px;
  color: #777;
}

.bottom {
  margin-top: 32px;
}

.update-label {
  margin-right: 8px;
  font-weight: 500;
  color: #444;
}

.update-date {
  color: #777;
}

.doc-nav {
  margin: 32px 0 16px;
  border-top: 1px solid #eee;
  text-align: center;
}

.prev,
.next {
  padding: 32px 0 8px;
}
.nav-label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #777;
}

.nav-title {
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 960px) {
  .doc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .doc details summary {
    padding: 8px;
    background: transparent;
    outline: 0;
    user-select: none;
  }

  .toc {
    position: sticky;
    top: 112px;
    display: block;
    order: 1;
    width: 240px;
    margin-top: 36px;
    min-height: 100px;
    max-height: calc(100vh - 112px);
    overflow: auto;
    border-left: 1px solid #e4e4e4;
    font-size: 14px;
  }

  .toc ul {
    margin: 0 0 0 16px;
    padding: 0;
    list-style: none;
  }

  .toc li {
    margin-bottom: 8px;
  }

  .toc p {
    margin: 0 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .toc a {
    color: #777;
  }

  .toc a:hover {
    color: #aaa;
    text-decoration: none;
  }

  .toc :global .active,
  .toc :global .active:hover {
    color: #03A9F4;
  }

  .entry {
    margin: 36px 0;
    width: 100%;
    max-width: 900px;
    padding: 0 32px;
  }

  .entry .title {
    margin-top: 0;
    padding-bottom: 8px;
  }

  .doc-nav {
    display: flex;
  }
}
