.intro {
  position: relative;
  background: #004880;
  color: #fff;
}

.wrapper {
  padding: 32px 16px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  color: #B3E5FC;
}

.github-btn {
  display: inline-flex;
  align-items: center;
}

.gh-btn,
.gh-count {
  padding: 2px 5px 2px 4px;
  font: 700 16px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
}

.gh-btn {
  display: inline-flex;
  align-items: center;
  line-height: 20px;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top,#fcfcfc 0,#eee 100%);
  background-image: -moz-linear-gradient(top,#fcfcfc 0,#eee 100%);
  background-image: -ms-linear-gradient(top,#fcfcfc 0,#eee 100%);
  background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
}

.gh-btn:focus,
.gh-btn:hover {
  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top,#eee 0,#ddd 100%);
  background-image: -moz-linear-gradient(top,#eee 0,#ddd 100%);
  background-image: -ms-linear-gradient(top,#eee 0,#ddd 100%);
  background-image: linear-gradient(to bottom,#eee 0,#ddd 100%);
  border-color: #ccc;
}

.gh-btn:active {
  background-image: none;
  background-color: #dcdcdc;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15)
}

.gh-ico {
  margin-right: 4px;
}

.gh-count {
    position: relative;
    display: none;
    margin-left: 6px;
    padding: 3px 10px 3px 8px;
    line-height: 18px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
}

.gh-count:focus,
.gh-count:hover {
    color: #4183C4;
    text-decoration: none;
}

.gh-count:after,
.gh-count:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.gh-count:before {
    top: 50%;
    left: -5px;
    margin-top: -6px;
    border-width: 6px 6px 6px 0;
    border-right-color: #fafafa
}

.gh-count:after {
    top: 50%;
    left: -6px;
    z-index: -1;
    margin-top: -7px;
    border-width: 7px 7px 7px 0;
    border-right-color: #d4d4d4
}

@media screen and (min-width: 960px) {
  .wrapper {
    display: flex;
    justify-content: center;
  }

  .aside {
    margin-right: 32px;
    width: 256px;
  }

  .main {
    margin-left: -16px;
    text-align: left;
  }

}
