html {
  box-sizing: border-box;
  background: #004880;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  font: 16px/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  background: #fff;
  color: #333;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #03A9F4;
}

a:hover {
  text-decoration: underline;
}

.select {
  position: relative;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 4px 20px 4px 12px;
  font-size: 16px;
  line-height: 18px;
  border: 0;
  color: #66a0cc;
  background: transparent;
}

.select .arrow {
  position: absolute;
  top: 11px;
  right: 6px;
  border: 4px solid transparent;
  border-top-color: #66a0cc;
}

.wrapper {
  margin: 0 auto;
  width: 900px;
}

/* header */

.header {
  background: #004880;
}

.header .wrapper {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.header .site-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.header .site-name a {
  color: #66a0cc;
}

.header .nav {
  margin: 0 0 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
}

.header .nav li {
  margin-right: 20px;
  line-height: 1;
}

.header .nav li:last-child {
  margin-right: 0;
}

.header .nav li a {
  color: #66a0cc;
}

/* hero */

.hero {
  padding: 32px 0;
  background: #004880;
}

.hero .wrapper {
  display: flex;
  justify-content: center;
}

.hero .aside {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
  width: 256px;
}

.hero .main {
  margin-left: -16px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  color: #B3E5FC;
}

.hero .github-btn {
  display: inline-flex;
  align-items: center;
}

.hero .gh-btn,
.hero .gh-count {
  padding: 2px 5px 2px 4px;
  font: 700 16px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
}

.hero .gh-btn {
  display: inline-flex;
  align-items: center;
  line-height: 20px;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top,#fcfcfc 0,#eee 100%);
  background-image: -moz-linear-gradient(top,#fcfcfc 0,#eee 100%);
  background-image: -ms-linear-gradient(top,#fcfcfc 0,#eee 100%);
  background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
}

.hero .gh-btn:focus,
.hero .gh-btn:hover {
  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top,#eee 0,#ddd 100%);
  background-image: -moz-linear-gradient(top,#eee 0,#ddd 100%);
  background-image: -ms-linear-gradient(top,#eee 0,#ddd 100%);
  background-image: linear-gradient(to bottom,#eee 0,#ddd 100%);
  border-color: #ccc;
}

.hero .gh-btn:active {
  background-image: none;
  background-color: #dcdcdc;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15)
}

.hero .gh-ico {
  margin-right: 4px;
}

.hero .gh-count {
    position: relative;
    display: none;
    margin-left: 6px;
    padding: 3px 10px 3px 8px;
    line-height: 18px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
}

.hero .gh-count:focus,
.hero .gh-count:hover {
    color: #4183C4;
}

.hero .gh-count:after,
.hero .gh-count:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.hero .gh-count:before {
    top: 50%;
    left: -5px;
    margin-top: -6px;
    border-width: 6px 6px 6px 0;
    border-right-color: #fafafa
}

.hero .gh-count:after {
    top: 50%;
    left: -6px;
    z-index: -1;
    margin-top: -7px;
    border-width: 7px 7px 7px 0;
    border-right-color: #d4d4d4
}

/* usage */

.usage {
  padding: 32px 0;
  background: #f8f8f8;
}

.usage p code {
  display: inline-block;
  margin: 0 1px;
  padding: 3px 2px;
  line-height: 1;
  border: 1px solid #e4e4e4;
  background: #eee;
  color: #666;
}

.usage figure {
  margin: 0;
  background: #29343d;
  color: #eee;
}

.usage figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background: #2d3b43;
  color: #a3b5c2;
}

.usage .copy-btn {
  appearance: none;
  padding: 8px 4px;
  font-size: 12px;
  line-height: 1;
  background: transparent;
  border: 0;
  color: #668499;
  cursor: pointer;
}

.usage .copy-btn:hover {
  color: #a3b5c2;
}

.usage pre {
  margin: 0;
  padding: 16px;
  overflow: auto;
}

/* highlights */

.highlights {
  padding: 32px 0;
}

.highlights .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.highlights .point {
  width: 40%;
  padding: 24px 32px;
  text-align: center;
}

.highlights .icon {
  font-size: 64px;
  line-height: 1;
  color: #03A9F4;
}

.highlights .point h2 {
  color: #03A9F4;
}

.highlights .point p {
  color: #666;
}

/* showcases */

.showcases {
  padding: 32px 0 64px;
  background: #f8f8f8;
  text-align: center;
}

.showcases h3 {
  margin-bottom: 32px;
  font-weight: 400;
}

.showcases img {
  max-width: 100%;
}

/* product-list */

.title {
  text-align: center;
}

.desc {
  text-align: center;
  color: #666;
}

.product-list {
  margin: 0;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product-list-item {
  flex: auto 0 0;
  margin-right: 30px;
  width: calc(33% - calc(2 * 30px / 3));
  text-align: center;
}

.product-list-item:nth-child(3n) {
  margin-right: 0;
}

.product-list-image {
  border: 2px solid #eee;
  font-size: 0;
  transition: all 0.2s ease;
}

.product-list-image:hover {
  border-color: #333;
  transition: all 0.2s ease;
}

.product-list-image img {
  max-width: 100%;
}

/* footer */

.footer {
  font-size: 14px;
  background: #004880;
  color: #79acd2;
}

.footer .wrapper {
  height: 128px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* Phones */
@media (max-width: 767px) {
  .wrapper {
    padding: 0 16px;
    width: 100%;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header .wrapper {
    padding: 12px 16px;
  }

  .header .nav li:not(:last-child) {
    display: none;
  }

  .hero .wrapper {
    flex-wrap: wrap;
  }

  .hero .aside {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }

  .hero .aside {
    position: relative;
    z-index: 200;
  }

  .hero .aside img {
    max-width: 128px;
  }

  .hero .main {
    margin-left: 0;
    width: 100%;
  }

  .hero h1 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }

  .hero .links {
    text-align: center;
  }

  .highlights .wrapper {
    flex-wrap: wrap;
  }

  .highlights .point {
    width: 100%;
    padding: 16px;
  }

  .showcases a {
    display: block;
  }

  .product-list-item {
    margin: 0 0 40px;
    width: 100%;
  }

  .footer .wrapper {
    color: #eee;
  }
}
