@import "//at.alicdn.com/t/font_1211640_qzmvsiid949.css";
@import "~normalize.css/normalize.css";
@import "./theme.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 16px/1.6 sans-serif;
  background: var(--background);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 900px;
}
